@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Lilita One';
    letter-spacing: 2px;
}

p {
    font-family: 'Lilita One';
}

header {
    display: grid;
    grid-template-columns: 480px 960px 480px;
    grid-template-areas: 
    "he1 he2 .";
    height: 125px;
    width: 1920px;
    background-color: rgb(35, 114, 6);
    background-image: url(/img/backgrounds/bark_background.jpg);
    background-size: cover;
}

.main_button {
    font-size: 40px;
    margin: 10px;
    padding: 15px 30px;
    border: 8px solid rgb(10, 54, 0);
    border-radius: 15px 100px;
    cursor: pointer;
    color: rgb(34, 34, 34);
    background-color: rgba(132, 255, 0, 0.3); ;
}

#current_page {
    background-color: rgba(181, 255, 102, 0.436);
    color: black;
    border-color: rgb(16, 85, 0);
}

.main_button:hover {
    background-color: rgba(215, 255, 172, 0.3);
}

a {
    text-decoration: none;
}

#header1 {
    display: flex;
    grid-area: he1;
    justify-content: left;
    align-items: center;
}

 #header2 {
    display: flex;
    grid-area: he2;
    justify-content: center;
    align-items: center;
}

#Logo {
    filter: invert();
    height: 100px;
    margin-left: 30px;
}

.main_page {
    display: flex;
    width: 1920px;
    height: 844px;
    background-image: url(/img/backgrounds/Rainforest_background.jpg);
    background-size: cover;
    justify-content: center;
}

#main_page_index {
    position: relative;
    display: flex;
    justify-content: center;
}

#Logo_small { 
    position: absolute;
    height: 160px;
    width: auto;
    margin-top: 256px;
    z-index: 1;
}

#main_page_index > h2 {
    position: absolute;
    font-size: 48px;
    z-index: 1;
    margin-top: 480px;
    color: white;
}

#Logo_background {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 640px;
    width: auto;
    margin-top: 48px;
}

#menu_grid_wrapper {
    display: grid;
    grid-template-columns: 120px 500px;
    grid-template-rows: 80px 120px 120px 120px;
    grid-template-areas: 
    "titel titel"
    "bild1 text1"
    "bild2 text2"
    "bild3 text3";
    justify-content: center;
    height: fit-content;
    row-gap: 60px;
    column-gap: 40px;
    height: fit-content;
    width: fit-content;
    background-image: url(/img/backgrounds/menu_background.jpg);
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 50px 50px 50px;
    border: 15px ridge rgb(179, 130, 16);
    border-radius: 5px;
}

#menu_title {
    grid-area: titel;
    display: block;
    font-size: 50px;
    text-align: center;
    color: white;
}

.menu_items {
    height: 120px;
    border: 8px ridge rgb(179, 130, 16);
    border-radius: 2px;
}

#bild_1 {
    grid-area: bild1;
}

#text_1 {
    grid-area: text1;
    color: white;
}

#bild_2 {
    grid-area: bild2;
}

#text_2 {
    grid-area: text2;
    color: white;
}

#bild_3 {
    grid-area: bild3;
}

#text_3 {
    grid-area: text3;
    color: white;
}

#main_page_om_oss {
    display: flex;
    height: 960px;
    flex-direction: column;
    align-items: center;
}

.rubrik {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

#om_oss_flex-container {
    display: flex;
    width: 1200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.personal {
    display: flex;
    margin: 10px;
    height: fit-content;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 8px ridge rgb(62, 40, 10);
    border-radius: 5px;
    flex-direction: column;
    padding: 10px;
}

#portrait {
    margin: 10px;
}